<nav class="navbar navbar-expand-lg navbar-light col-md-12" style="padding:20px">
  <div class="collapse navbar-collapse col-md-12" id="navbarSupportedContent">
    <div class="col-md-9">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" ariaCurrentWhenActive="page" routerLink="/home-page-component" routerLinkActive="active">(Bracket Lottery Logo)</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link" ariaCurrentWhenActive="page" routerLink="/home-page-component" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your Upcoming Contests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your Live Contests</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Account (add symbol)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ariaCurrentWhenActive="page" routerLink="/login-component" routerLinkActive="active">Or Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">If signed in, add funds?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>