<div class="col-md-12" style="margin-top: 20px">
    <div style="text-align: center" class="row">
        <!-- Maybe a jumbotron here? -->
        <h1> Enter Contests Today! Become a Winner!</h1>
    </div>

    <br />
    
    <!-- Click the button, activate a filter to display the contests for that specific sport -->
    <div class="col-md-12">
        <div id="sportsButtons" class="col-md-12 sports-row">
            <button class="col-md-2 btn sportsButton"> Football <img class="sports-image" src="assets/football.png"> </button>
            <button class="col-md-2 btn sportsButton"> Basketball <img class="sports-image" src="assets/basketball.png"> </button>
            <button class="col-md-2 btn sportsButton"> Baseball <img class="sports-image" src="assets/baseball.jpg"> </button>
            <button class="col-md-2 btn sportsButton"> Hockey <img class="sports-image" src="assets/hockey.jpg"> </button>
            <button class="col-md-2 btn sportsButton"> Soccer <img class="sports-image" src="assets/soccer.jpg"> </button>
        </div>
    </div>

    <div class="col-md-10 contest-list">
        <h2> Contests </h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Sport, Contest Name, players entered/max players, jackpot, entry fee</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
     </div>

</div>

<!-- 
    List of contests to enter
 -->


