<div class="col-md-12" style="margin-top: 20px">
    <div style="text-align: center" class="row">
        <!-- Maybe a jumbotron here? -->
        <h1> Enter Contests Today! Become a Winner!</h1>
    </div>

    <br />
    
    <!-- Click the button, activate a filter to display the contests for that specific sport -->
    <div class="col-md-12">
        <div id="sportsButtons" class="col-md-12 sports-row">
            <button class="col-md-2 btn sportsButton"> Football <img class="sports-image" src="assets/football.png"> </button>
            <button class="col-md-2 btn sportsButton"> Basketball <img class="sports-image" src="assets/basketball.png"> </button>
            <button class="col-md-2 btn sportsButton"> Baseball <img class="sports-image" src="assets/baseball.jpg"> </button>
            <button class="col-md-2 btn sportsButton"> Hockey <img class="sports-image" src="assets/hockey.jpg"> </button>
            <button class="col-md-2 btn sportsButton"> Soccer <img class="sports-image" src="assets/soccer.jpg"> </button>
        </div>
    </div>
</div>

<!-- 
    List of contests to enter
 -->