<div class="col-md-12" style="margin-top: 20px">
    <!-- <div style="text-align: center" class="row">
        <h1> Enter Contests Today! Become a Winner!</h1>
    </div> -->

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 style="text-align: center" class="display-4">Enter Contests Today! Become a Winner!</h1>
          <p  style="text-align: center" class="lead">Join a contest below for your chance to win big!</p>
        </div>
      </div>

    <br />
    
    <!-- Click the button, activate a filter to display the contests for that specific sport -->
    <div class="col-md-12">
        <div id="sportsButtons" class="col-md-12 sports-row">
            <button class="col-md-2 btn sportsButton"> Football <img class="sports-image" src="assets/football.png"> </button>
            <button class="col-md-2 btn sportsButton"> Basketball <img class="sports-image" src="assets/basketball.png"> </button>
            <button class="col-md-2 btn sportsButton"> Baseball <img class="sports-image" src="assets/baseball.png"> </button>
            <button class="col-md-2 btn sportsButton"> Hockey <img class="sports-image" src="assets/hockey.jpg"> </button>
            <button class="col-md-2 btn sportsButton"> Soccer <img class="sports-image" src="assets/soccer.png"> </button>
        </div>
    </div>

    <div class="col-md-10 contest-list">
        <h2> Contests </h2>
        <ul class="list-group list-group-flush">
            <!-- for contest in contests  -->
            <li class="list-group-item">
                <!-- Sport, Contest Name, jackpot, players entered/max players, entry fee -->
                <table class="col-md-12">
                    <tr> 
                        <td class="col-md-2"> Sport </td> <td class="col-md-4"> Contest Name </td>  <td class="col-md-2"> jackpot </td> <td class="col-md-2"> players entered/max players </td> <td class="col-md-2"> entry fee </td>
                    </tr>
                </table>
            </li>

            <li class="list-group-item">
                <table class="col-md-12">
                    <tr> 
                        <td class="col-md-2"> Sport </td> <td class="col-md-4"> Contest Name </td>  <td class="col-md-2"> jackpot </td> <td class="col-md-2"> players entered/max players </td> <td class="col-md-2"> entry fee </td>
                    </tr>
                </table>
            </li>

            <li class="list-group-item">
                <table class="col-md-12">
                    <tr> 
                        <td class="col-md-2"> Sport </td> <td class="col-md-4"> Contest Name </td>  <td class="col-md-2"> jackpot </td> <td class="col-md-2"> players entered/max players </td> <td class="col-md-2"> entry fee </td>
                    </tr>
                </table>
            </li>

        </ul>
     </div>

</div>

<!-- 
    List of contests to enter
 -->


